<h1>Listing class_needs</h1>

<table>
  <tr>
    <th>Contacts url</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @class_needs.each do |class_need| %>
  <tr>
    <td><%= class_need.contacts_url %></td>
    <td><%= class_need.status %></td>
    <td><%= link_to 'Show', class_need %></td>
    <td><%= link_to 'Edit', edit_class_need_path(class_need) %></td>
    <td><%= link_to 'Destroy', class_need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Class need', new_class_need_path %>
